---
import { published } from "@data/post"
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";

const markdownFiles = await Astro.glob('../content/**/*.md')
const posts = published( markdownFiles );
---
<head>
	{title && <meta property="og:title" content="News - Galacticraft" />}
	{desc && <meta property="og:description" content="Read the latest dev blogs from the Galacticraft Team." />}
	<meta property="og:image" content="https://cdn.discordapp.com/attachments/804625345718255656/944660077443432448/Rocket.png" />
	{title && <meta property="og:site_name" content="Galacticraft" />}
	<meta property="og:url" content="https://galacticraft-test.netlify.app" />
	<slot/>
</head>

<Blog>
	<div>
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>
