<footer class="footer footer-center p-4">
  <div>
    <img src="https://i.imgur.com/io5EaQo.png" alt="Galacticraft Logo" width="128" height="128">
      <p class="text-xs text-base-content/70">
      &copy; {(new Date()).getFullYear()} – 
      <a>
      Galacticraft,
      </a>
      Powered by
      <a class="link" href="https://astro.build/" target="_blank">
        Astro
      </a>
    </p>
  </div>
</footer>
